.advantages__wrapper {
    display: grid;
    grid-template-columns: 510px 1fr 1fr;
    grid-template-rows: 140px 140px 480px;
    gap: 16px;
    margin-top: 95px;
}

.advantages__info-text {
    display: block;
    grid-column: 1/end;
    grid-row: 2;
    font-family: "Ardeco", "Arial", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 50px;
    text-transform: uppercase;
    color: rgba(32, 65, 134, 1);
}

.advantages__info-text--secondary {
    grid-row: 1;
    font-size: 160px;
    line-height: 140px;
    letter-spacing: -0.02em;
    text-transform: none;
}

.advantages__list {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: left;
    gap: 36px;
    list-style: none;
}

.advantages__list-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.advantages__img {
    grid-column: 3/5;
    grid-row: -3/-1;
    width: 360px;
    height: 480px;
    background-image: url('../../images/photo2.jpg');
    margin: 120px 0 0 0;
}