.hero {
  padding: 20px 0 0;
}

.hero__heading {
  text-align: center;
  font-family: "Ardeco", "Arial", sans-serif;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero__image {
  margin: 48px 0 0;
  width: 100%;
}
