.hero-secondary{
    margin: 0 auto;
    padding: 30px 0 0;
}

.hero-secondary__heading{
    display: block;
    text-align: center;
    font-family: "Ardeco", "Arial", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 60px;
    text-transform: uppercase;
    margin: 55px 0 24px 0;
}

.hero-secondary__desc{
    margin: 0 auto;
    max-width: 700px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.hero-secondary__img{
    object-fit:  cover;
    width: 100%;
}